<%= simple_form_for @note, html: { id: 'note-form' } do |f| %>
  <%= form_server_error_notification(@note) %>

  <%= f.input :owner_type, as: :hidden, wrapper: false, input_html: { value: @owner.class.name } %>
  <%= f.input :owner_id, as: :hidden, wrapper: false, input_html: { value: @owner.id } %>

  <%= f.input :description, label: false, input_html: { rows: 3 } %>

  <div class="form__actions">
    <%= link_to "Cancel", polymorphic_path(@owner), class: "btn btn--light" %>
    <%= f.submit 'Save', class: "btn btn--secondary" %>
  </div>
<% end %>
