<%= simple_form_for job_source do |f| %>
  <%= form_server_error_notification(job_source) %>

  <div class="form__row">
    <div data-controller="search-params element">
      <%= f.input :kind,
                  input_html: { disabled: job_source.persisted?, 'data-action' => 'change->search-params#encode change->element#click' },
                  collection: JobSource.kinds.keys,
                  selected: job_source.kind %>
      <a href="<%= new_job_source_path %>"
        data-search-params-target="anchor"
        data-element-target="click"
        data-turbo-frame="new_job_source"
        hidden></a>
    </div> 

    <%= f.input :name %>

    <% unless job_source.simple_kind? %>
      <%= f.input :refresh_rate,
                   collection: JobSource::REFRESH_RATES,
                   selected: job_source.refresh_rate %>
    <% end %>
  </div>

  <div class="form__row">
    <%= render partial: 'form_settings', locals: { form: f, job_source: job_source } %>
  </div>

  <% if job_source.persisted? %>
    <div class="job_source__form-notifiers">
      <div class="job_source__form-notifiers-title">
        <b>Notifiers</b>
        <%= link_to new_notifier_path(notifier: { owner_type: 'JobSource', owner_id: job_source.id }),
                    class: "btn btn--secondary",
                    data: { turbo_frame: "_top" } do %>
          <i class="fas fa-solid fa-plus fa-lg"></i>
        <% end %>            
      </div>

      <%= turbo_frame_tag "notifiers" do %>
        <%= render @notifiers %>
      <% end %>
    </div>
  <% end %>  

  <div class="form__actions">
    <%= link_to "Cancel", job_sources_path, class: "btn btn--light" %>
    <%= f.submit "Save", class: "btn btn--secondary" %>
  </div>
<% end %>
