<%= simple_form_for notifier, html: { class: "form" } do |f| %>
  <%= form_error_notification(notifier) %>

  <%= f.input :owner_type, as: :hidden, input_html: { value: owner.class.name } %>
  <%= f.input :owner_id, as: :hidden, input_html: { value: owner.id } %>

  <%= turbo_frame_tag f.field_id(:kind, :turbo_frame) do %>
    <div class="form__row">
      <div data-controller="search-params element">
        <%= f.input :kind,
                    input_html: { 
                      "disabled" => notifier.persisted?,
                      "data-action" => "change->search-params#encode change->element#click"
                    },
                    collection: Notifier.kinds.keys,
                    selected: notifier.kind %>

        <a href="<%= new_notifier_path(notifier: { owner_type: owner.class.name, owner_id: owner.id }) %>"
          data-search-params-target="anchor"
          data-element-target="click"
          data-turbo-frame="<%= f.field_id(:kind, :turbo_frame) %>"
          hidden></a>
      </div>

      <% unless notifier.telegram_kind? %>
        <%= f.input :name %>
      <% end %>
    </div>

    <div class="form__row">
      <%= render partial: 'form_settings', locals: { form: f, notifier: notifier } %>
    </div>

    <div class="form__actions">
      <%= link_to "Cancel", edit_polymorphic_path(owner), class: "btn btn--light", data: { turbo_frame: "_top" } %>
      <% unless notifier.telegram_kind? %>
        <%= f.submit class: "btn btn--secondary", data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
