<div style="width: 100%; text-align: center;">
  <% if notifier.persisted? && notifier.t_me_chat_id.present? %>
    <b>You have connected</b>
    <%= link_to notifier.t_me_bot_link, target: '_blank' do %>
      @<%= TelegramBot::BOT_NAME %>
    <% end %>
    <b>to @<%= notifier.t_me_username %></b>
  <% else %>
    You can create Telegram Notifier by connect the bot.
    Click on <a href="<%= notifier.t_me_bot_link %>">@<%= TelegramBot::BOT_NAME %></a>
    <div class="form__group-copy-to-clipboard" data-controller="copy-to-clipboard">  
      Or copy and open next link on your device
      <input class="form__input" type="text" data-copy-to-clipboard-target="text" value="<%= notifier.t_me_bot_link %>">
      <div class='btn btn--copy-to-clipboard prevent-select' data-action="click->copy-to-clipboard#copy">
        <i class="fa-solid fa-copy fa-xl"></i>
        <span>copy</span>
      </div>
    </div>
  <% end %>
</div>  
