<h2>Forgot your password?</h2>

<p class="form__description">
  Enter the email address associated with your account and we will send you a link to reset your password.
</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo" => "false", method: :post }) do |f| %>
  <%= form_server_error_notification(resource) %>

  <%= f.input :email,
              required: true,
              autofocus: true,
              placeholder: 'Enter your email address',
              input_html: { autocomplete: "email" },
              wrapper_html: { class: 'form__group-vertical' } %>

  <%= f.button :submit, "Request Password Reset", class: "btn btn--secondary form__submit" %>
<% end %>

<div class="authentication__actions">
  <%= render "devise/shared/links" %>
</div>  
