<%= simple_form_for [job_source, job_lead] do |f| %>
  <%= form_server_error_notification(job_lead) %>
  <%= f.input :status_filter, as: :hidden, input_html: { value: @status_filter } %>

  <%= f.input :title, wrapper_html: { class: 'form__group-vertical' } %>

  <%= f.input :description, input_html: { rows: 5 }, wrapper_html: { class: 'form__group-vertical' } %>

  <%= f.input :link, as: :string, wrapper_html: { class: 'form__group-vertical' } %>

  <div class="form__row">
    <%= f.input :hourly_rate %>

    <%= f.input :owner_country, collection: ISO3166::Country.all_names_with_codes, selected: job_lead.owner_country %>
  </div>

  <div class="form__row">
    <%= f.input :status, collection: JobLead.statuses.keys, selected: job_lead.status %>

    <%= f.input :potential, collection: JobLead.potentials.keys, selected: job_lead.potential %>

    <%= f.input :published_at, html5: true %>
  </div>

  <div class="form__actions">
    <%= link_to "Cancel", job_source_path(job_source), class: "btn btn--light" %>
    <%= f.submit class: "btn btn--secondary" %>
  </div>  
<% end %>
