<%= turbo_stream_from current_user, "job_leads" %>

<main class="container">
  <div class="header">
    <h1>Job Leads</h1>
  </div>

  <% if @job_leads.blank? %>
    <div class="empty-state">
      <p class="empty-state__text">
        You don't have any leads yet.<br />
        Please go to Job Sources page and add leads there<br />
        or customize the source for auto SYNC leads to your feed. 
      </p>
      <%= link_to "Go to Job Sources", job_sources_path, class: "btn btn--primary" %>
    </div>
  <% else %>
    <div class="horizontal-filter">
      <%= link_to "All",
                  job_leads_path,
                  class: "horizontal-filter__item#{ @status_filter ? '' : ' active' }" %>
      <% JobLead.statuses.keys.each do |status| %>
        <%= link_to status.capitalize,
                    job_leads_path(status_filter: status),
                    class: "horizontal-filter__item#{ @status_filter == status ? ' active' : '' }" %>
      <% end %>
    </div>
    
    <% turbo_stream_name = @status_filter ? "job_leads-status-#{@status_filter}" : "job_leads" %>
    <%= turbo_frame_tag turbo_stream_name do %>
      <%= render @job_leads %>
    <% end %>
  <% end %>
</main>
