<header class="navbar">
  <div class="navbar__brand">
    <%= link_to "My Workflow Assistant", authenticated_root_path %>
  </div>

  <div class="navbar__links">
    <% if user_signed_in? %>
      <%= link_to "Job Leads", job_leads_path, class: "btn btn--light" %>
    <% end %>  
  </div>

  <div class="navbar__right">
    <% if user_signed_in? %>
      <%= link_to settings_assistant_configuration_path, class: "navbar__user-settings btn btn--light" do %>
        <i class="fas fa-solid fa-toolbox"></i>
        <%= current_user.name %>
      <% end %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn--dark" %>
    <% end %>
  </div>
</header>